<div class="container w-50 text-center py-3">
  <h4>Calculez votre taux annuel effectif global (TGAE)</h3>
  <h6>Soyez sûr de votre prêt</h6>
</div>

<div data-controller='display-form'>
  <div class="container w-50 text-center contain-button-home" data-display-form-target='buttonHome'>
    <%= link_to 'Essayer vous même', '#', class: 'btn btn-success form-button', data: { action: 'click->display-form#display_form' } %>
  </div>

  <div class='d-none' data-display-form-target='formDiv'>
    <%= render 'form_credit', credit: @credit %>
  </div>
</div>
